@font-face {
  font-family: "comfortaalight";
  src: url("./fonts/comfortaa-light-webfont.woff2") format("woff2"),
    url("./fonts/comfortaa-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "comfortaalight", sans-serif;
}

p {
  font-size: 16px;
  line-height: 35px;
  color: #333333;
  font-family: "comfortaalight", sans-serif;
}

h1 {
  font-size: 40px;
  color: #333333;
}

h2 {
  font-weight: 100;
  text-align: center;
  display: block;
  font-size: 39px;
  color: #525969;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}

h3 {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #333333;
}

h4 {
  font-size: 17px;
  font-weight: 400;
  color: #333333;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}

a {
  color: #e84545;
  position: relative;
  display: inline-block;
}

a:hover,
a:focus {
  text-decoration: none !important;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s;
}

th {
  font-size: 16px;
  line-height: 22.4px;
  color: #333333;
  font-weight: normal;
}

/* section {
  padding-bottom: 100px;
} */

body {
  font-family: "Helvetica", sans-serif !important;
  font-weight: 400;
  color: #6c7279;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
.sa {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sa.show {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.sa--up {
  -webkit-transform: translate(0, 80px);
  transform: translate(0, 80px);
}

.nav li {
  list-style: none;
  margin: 0px 40px;
}
.header_right .nav li {
  margin: 0px 25px;
}
.inline {
  display: inline-block;
}

header {
  padding-top: 50px;
}

.header_left img {
  height: 170px;
}
.text-section-service {
  margin-top: 10px;
  font-family: "comfortaalight", sans-serif;
}
/* .header_right {
    padding-left: 30%;
  } */

.header_right li a {
  color: #000 !important;
}
.header_center li a {
  color: #000 !important;
}

.nav_container {
  margin: 0;
  display: inline-block;
}

.section-title {
  font-family: "comfortaalight", serif;
  font-size: 45px;
}

.nav_item {
  font-family: "comfortaalight", serif;
}
nav a {
  padding-bottom: 10px;
}
.nav_container .nav .nav_item:last-child a {
  border-right: none;
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#top #top-logo{
  height: 170px;
  margin-top: 190px
}
.logo-footer{
  height: 54px;
}
#raton{
  margin-top:100px
}
@media screen and (max-width: 768px) {
  .nav_container .nav li {
    /* display: none; */
    margin: 0px 20px;
  }
  .nav_container .nav .nav_item a {
    border-bottom: 1px solid #ccc;
    border-right: none;
  }
  .nav_container .nav .nav_item:last-child a {
    border-bottom: none;
  }
}

.top_image {
  background-position: center 100%;
  background-image: url("../images/banner2.png");
  background-size: cover;
  height: 950px;
}

.about {
  background-image: url("../images/about_img.png");
  background-position: center 50%;
  background-size: contain;
  height: 1250px;
  display: flex;
  align-items: center;
  margin-top: -120px;
}

.top {
  text-align: center;
  position: relative;
  height: 100%;
}

/* .top img {
  height: 500px;
} */

.top h1 {
  color: #000;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  margin-top:10px
}
.service_each p,
.service_each span {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .top h1 {
    left: 0%;
  }
}

.service_each {
  margin-bottom: 50px;
  justify-content: space-between;
}

.service_blue {
  color: #F7941C;
  padding-bottom: 20px;
}

.service .service_image {
  text-align: center;
  vertical-align: bottom;
  display: flex;
  align-items: center;
}

.service img {
  width: 100%;
  float: right;
}

.about td {
  padding-bottom: 15px;
}

.about_right {
  padding-left: 23%;
}

.team_member {
  /* width: 33%; */
  padding: 0px 50px !important;
  display: inline-block;
  text-align: center;
}

.team_member p {
  text-align: left;
}

.team_member h3 {
  font-size: 16px;
}

.team_member img {
  height: 250px;
  padding-bottom: 20px;
}

.contact h2 {
  padding-bottom: 0px;
}

.bg-contact2 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
}

.wrap-contact2 {
  width: 90%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 60px 55px;
}

@media screen and (max-width: 600px) {
  .nav_container .nav{
    display:none
  }
  .service img {
    height: 160px;
    float: none;
    margin: auto;
    width: auto;
  }
  .footer{
    height: 360px !important;
  }
  .scoll-top{
    padding:0 20px 0 0 !important
  }
  #team-content__main #row-2{
    width: 100%;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }
  #row-2 .team_member{
    width: auto !important;
  }
  .footer-content{
    align-items: none
  }
}

/*------------------------------------------------------------------
  [  ]*/
.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-size: 39px;
  color: #525969;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}

/*------------------------------------------------------------------
  [  ]*/
.wrap-input2 {
  width: 100%;
  position: relative;
}

.input2 {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #26c6da;
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.input-notempty {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

/* input.input2 + .focus-input2::after {
    top: 16px;
    left: 0;
  } */
textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

/* textarea.input2 + .focus-input2::after {
    top: 16px;
    left: 0;
  } */
.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

input.input2:valid,
textarea.input2:valid {
  top: -13px;
  left: 0;
}

/*------------------------------------------------------------------
  [ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #F7941C;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/* if using smartphone this change */
.contact2-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  /* min-width: 244px; */
  height: 50px;
  font-size: 16px;
  color: #fff !important;
  line-height: 1.2;
}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

.ajax-loader {
  display: none;
}

.ajax-loader,
.alert-success {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: none;
}

/*------------------------------------------------------------------
  [ Responsive ]*/
@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}

/*------------------------------------------------------------------
  [ Alert validate ]*/
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  /*visibility: hidden;
    opacity: 0;*/
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: fontawesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.footer {
  display: flex;
  align-items: center;
  position: relative;
  vertical-align: bottom;
  text-align: center;
  background-position: center 100%;
  height: 410px;
  background-image: url('../images/footer.png');
}

.footer-content {
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.footer_left {
  bottom: 0;
  text-align: center;
}

.footer_left img {
  height: 50px;
}

.footer_left p {
  margin-bottom: 0px;
  font-size: 12px;
  color: white;
  font-family: "comfortaalight", sans-serif;
}

.footer_right {
  padding-bottom: 20px;
}
.footer_right p {
  color: white;
}
.sns_icon {
  display: inline-block;
  text-align: center;
}

.instagram {
  padding-left: 10px;
}
.input2 {
  width: 100%;
  background-color: #FAEFE2;
  border-radius: 10px;
  padding-left: 20px;
}
#img-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-header {
  height: 50px !important;
}
.about-content {
  margin: auto;
}
.about-content tr td {
  font-family: "comfortaalight", sans-serif;
}
#team_background_bottom{
  height: 600px;
  position: absolute;
  left: -10px;
  bottom: -20px;
}
#team_background_top{
  height: 600px;
  position: absolute;
  right: 0;
  top: -20px;
}
#team-content__main{
  width: 90%;
  margin: auto
}
.team-content ul li{
  margin-bottom: 10px
}
#row-2{
  width: 70%;
  justify-content: space-around;
  margin: auto
}
#row-2 .team_member{
  width: 50%;
}
/* Responsive query */
@media screen and (min-width: 990px) {

  .about-content {
    border-collapse: separate;
    border-spacing: 0 35px;
  }
  .about-content .about_left {
    font-weight: 600;
    color: #F7941C;
  }
  .about div {
    margin-top: 100px;
  }
  .team {
    /* background-image: url(../../CapichiLP/images/teamImg.png); */
    background-size: contain;
    /* height: 900px; */
    display: flex;
    align-items: center;
    padding: 120px;
    margin-top: -10.5rem;
    position: relative;
  }
  .team-content {
    width: 100%;
    height: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.68) 3px 4px 13px -4px;
  }
  .team-section {
    margin-top: 100px;
  }
  .service {
    margin-top: 100px;
  }
  .top h1 {
    font-size: 65px;
  }
  .form-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .form-content.left {
    padding-right: 50px;
  }
  .contact2-form {
    display: flex;
    flex-direction: row;
    height: 160px;
  }
  .title-input {
    width: 22%;
    font-size: 15px;
  }
  .input2 {
    width: 80%;
    background-color: #FAEFE2;
    border-radius: 10px;
  }
  .wrap-input2 {
    display: flex;
    flex-direction: row;
  }
  .wrap-contact2 {
    padding: 72px 45px 60px 45px;
  }
  .input2.message {
    height: 160px;
    width: 100%;
  }
  .wrap-contact2-form-btn {
    width: 500px;
    border-radius: 10px;
    margin-top: 28px;
  }
  .contact2-form-btn {
    margin: auto;
  }
  .title-input-jp {
    width: 16%;
  }
  .footer_left img {
    height: 54px;
  }
}
/* #sota{
  width: 450px;
} */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #team-content__main #row-2{
    width: 80%;
  }
  #team-content__main #row-2 .team_member{
    width: 50%;
  }
  .team_member img {
    height: 170px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  #team_background_bottom, #team_background_top{
    display: none
  }
  .about {
    height: 700px;
    background-size: cover;
    margin-top: -50px;
  }

  .about div {
    margin-top: 100px;
  }
  .title-input {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .about h2 {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .about-content {
    border-spacing: 0 0px;
  }
  .about div {
    margin-top: 0px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1600px) {
  /* .team {
    height: 730px;
  } */
  .about {
    height: 1000px;
  }
  .service_each {
    padding: 0px 30px;
  }
  .team_member img {
    height: 200px;
  }
  .about .section-title {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1600px) {
  .arrow-down {
    margin-bottom: 30px;
  }
  .wrap-contact2 {
    padding: 72px 85px 60px 85px;
  }
  .title-input-ja {
    width: 10%;
  }
  .title-input-en {
    width: 25%;
  }
  .title-input {
    font-size: 20px;
  }
  .team_member h3,
  .team_member p {
    font-size: 20px;
  }
  .about-content tr .about_right {
    font-size: 20px;
    padding-left: 18%;
  }
  .about-content tr .about_left {
    font-size: 22px;
    width: 180px;
  }
  #text-checkbox {
    font-size: 20px;
  }
  .send-button {
    font-size: 20px;
  }
  .input-checkbox {
    /* margin-top: -4px; */
  }
}
